In [1]:
# importamos la pandas para poder trabajar en la lecci√≥n
import pandas as pd

# antes de empezar importamos la librer√≠a de NumPy para poder trabajar con todos sus m√©todos. 
import numpy as np

import random

1 ¬øQu√© diferencia hay entre una Serie y un DataFrame?

Serie unidimensional y DF bidimensional

# SERIES

2. Crea dos listas 
    
- Una que se llame "valores" que tenga 7 n√∫meros aleatorios.

- Otra que se llame "indices" que tenga 7 strings que se llamen como los d√≠as de la semana.

In [20]:
valores = [random.randint(1, 100) for num in range(7)]
valores

[52, 47, 24, 8, 1, 43, 25]

In [ ]:
# Crear una Serie de 7 n√∫meros enteros aleatorios entre 1 y 100
lista_aleatoria = pd.Series(np.random.randint(1, 101, size=7))
print(lista_aleatoria)

print(type(lista_aleatoria))

In [ ]:
# Pasos intermedios creacion serie
indices_list = ["Lunes","Martes","Miercoles","Jueves","Viernes","Sabado","Domingo"]
print(type(indices_list))

indices = pd.Series(indices_list)
print(type(indices))

<class 'list'>
<class 'pandas.core.series.Series'>

In [ ]:
# Creacion directa de la serie
# indices = pd.Series(valores, index = ["Lunes","Martes","Miercoles","Jueves","Viernes","Sabado","Domingo"])
# print(indices)
# print(type(indices))


A partir de estas dos listas crea una Serie donde la variable "valores" sean los valores de la Serie y la variable indices sean los √≠ndices de la Serie

In [26]:
series = pd.Series(valores, index = indices_list)


print(series)
print(type(series))

Lunes        52
Martes       47
Miercoles    24
Jueves        8
Viernes       1
Sabado       43
Domingo      25
dtype: int64
<class 'pandas.core.series.Series'>

A partir de las dos listas anteriores crea un diccionario usando un bucle for. Para hacer esto tenemos el m√©todo zip que nos permite iterar por dos listas a la vez.

NOTA: Lo hemos hecho pasando directamente a dict

In [41]:
zip1 = zip(valores, indices_list)
# Necesito formato lista para el printear -> ojo la funcion zip es de 1 solo uso, si vuelvo a printear, me sale vacio
print(zip1)

<zip object at 0x7fc3fe4c97c0>

In [42]:
zip1_list = list(zip1)
print(zip1_list)

[(52, 'Lunes'), (47, 'Martes'), (24, 'Miercoles'), (8, 'Jueves'), (1, 'Viernes'), (43, 'Sabado'), (25, 'Domingo')]

In [51]:
print(zip1_list)

zip1_dicc = dict(zip1_list)
print(zip1_dicc)
print(type(zip1_dicc))

[(52, 'Lunes'), (47, 'Martes'), (24, 'Miercoles'), (8, 'Jueves'), (1, 'Viernes'), (43, 'Sabado'), (25, 'Domingo')]
{52: 'Lunes', 47: 'Martes', 24: 'Miercoles', 8: 'Jueves', 1: 'Viernes', 43: 'Sabado', 25: 'Domingo'}
<class 'dict'>

Crea una Serie con el diccionario creado en el punto anterior

In [54]:
serie_dicc = pd.Series(zip1_dicc)
print(zip1_dicc)

print(type(serie_dicc))

{52: 'Lunes', 47: 'Martes', 24: 'Miercoles', 8: 'Jueves', 1: 'Viernes', 43: 'Sabado', 25: 'Domingo'}
<class 'pandas.core.series.Series'>


¬øQu√© forma tiene esta √∫ltima Serie?

In [55]:
print(f"El m√©todo 'shape' nos devuelve la forma de la Serie: {serie_dicc.shape}")

El m√©todo 'shape' nos devuelve la forma de la Serie: (7,)


¬øQu√© tipo de datos tiene?

In [56]:
#utilizando el m√©todo 'dtypes' nos devuelve el tipo de datos de la Serie
print(f"El m√©todo 'dtypes' nos devuelve el tipo de datos de la Serie: {serie_dicc.dtypes}")

El m√©todo 'dtypes' nos devuelve el tipo de datos de la Serie: object


¬øQu√© tama√±o tiene?

In [57]:
#utilizando el m√©todo 'size' nos devuelve el n√∫mero de elementos que tenemos en la Serie
print(f"El m√©todo 'size' nos devuelve el n√∫mero de elementos de la Serie: {serie_dicc.size}")

El m√©todo 'size' nos devuelve el n√∫mero de elementos de la Serie: 7

# DATAFRAME


Crea un array de dos dimensiones con 4 filas y 3 columnas.

In [60]:
array_vacio = np.empty((4,3))
array_vacio

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [ ]:

# Opcion de creacion array directa con 0
# Crear un array de 4 filas y 3 columnas
array_2d = np.zeros((4, 3))

print(array_2d)


Convierte el array en un DataFrame donde las columnas se llamen "Espa√±a", "Francia" e "Italia".

In [71]:
df_array_vacio = pd.DataFrame(array_vacio, columns=["Espa√±a", "Francia", "Italia"])
print(df_array_vacio)
print(type(df_array_vacio))

   Espa√±a  Francia  Italia
0     0.0      0.0     0.0
1     0.0      0.0     0.0
2     0.0      0.0     0.0
3     0.0      0.0     0.0
<class 'pandas.core.frame.DataFrame'>


Descarga el archivo "medallas" y carga el DataFrame

In [ ]:
# ojo!üö®üö® con index_col=[0] creamos la columna que numera las filas desde 1.
df_medallas = pd.read_csv("archivos-ejercicios/02-leccion-medallas-pair.csv", index_col=[0])
display(df_medallas) # Printear asi el df‚ú®
print(type(df_medallas))

               Pa√≠s   Oro  Plata  Bronce
1             China  1473    994     720
2             Jap√≥n  1032   1037     985
3     Corea del Sur   745    663     827
4              Ir√°n   179    181     197
5        Kazajist√°n   155    158     224
6             India   154    202     315
7         Tailandia   132    175     278
8         Indonesia   112    131     240
9      China Taip√©i    99    144     276
10  Corea del Norte    91    120     235

<class 'pandas.core.frame.DataFrame'>

In [ ]:
# ojo!üö® Si no hubiera puesto el index_col=[0]:
    # SE CREA UNA NUEVA COLUMNA llamada Unnamed:0 cuyos valores son los indices que teniamos en el csv
    # SE CREA UN INDICE QUE EMPIEZA EN O -> ESTO PUEDE DAR PROBLEMAS AL BUSCAR VALORES PON INDICE SI NO ME DOY CUENTA
    # LA ESTRUCTURA DEL DF CAMBIA, ahora tengo una columna mas
    
df_medallas_NO_index_col = pd.read_csv("archivos-ejercicios/02-leccion-medallas-pair.csv")
display(df_medallas_NO_index_col) # Printear asi el df‚ú®

   Unnamed: 0             Pa√≠s   Oro  Plata  Bronce
0           1            China  1473    994     720
1           2            Jap√≥n  1032   1037     985
2           3    Corea del Sur   745    663     827
3           4             Ir√°n   179    181     197
4           5       Kazajist√°n   155    158     224
5           6            India   154    202     315
6           7        Tailandia   132    175     278
7           8        Indonesia   112    131     240
8           9     China Taip√©i    99    144     276
9          10  Corea del Norte    91    120     235

# EJEMPLO CON UNA COPIA DE LOS DATOS DONDE PONGO EL NOMBRE POSICION A LA COLUMNA DE LOS INDICES

In [84]:
df_medallas_sin_index_col = pd.read_csv("archivos-ejercicios/02-leccion-medallas-pair-modificado-con-posicion.csv")
display(df_medallas_sin_index_col)
print(type(df_medallas_sin_index_col))

   posicion             Pa√≠s   Oro  Plata  Bronce
0         1            China  1473    994     720
1         2            Jap√≥n  1032   1037     985
2         3    Corea del Sur   745    663     827
3         4             Ir√°n   179    181     197
4         5       Kazajist√°n   155    158     224
5         6            India   154    202     315
6         7        Tailandia   132    175     278
7         8        Indonesia   112    131     240
8         9     China Taip√©i    99    144     276
9        10  Corea del Norte    91    120     235

<class 'pandas.core.frame.DataFrame'>

In [82]:
df_medallas_sin_index_col.columns

Index(['posicion', 'Pa√≠s', 'Oro', 'Plata', 'Bronce'], dtype='object')